header  {
  height: 520px;
  width: 100%;
  background-color: #a79b14;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  
}

.header-name {
  margin: 0;
  padding-bottom: 1em;
}