/*Mobile Styles*/
header  {
  height: 520px;
  width: 100%;
  background-color: #a35e0a;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.header-name {
  margin: 0;
  padding-bottom: 1em;
}

/*Desktop Styles*/
@media only screen and (min-width: 1024px) {
  .desktop-box {
    display: flex;
    justify-content: space-evenly
  }
  header {
    margin-top: 220px;
    margin-left: 3vw;
    width: 800px;
    height: 310px;
    justify-content: end;
  }
  .header-name {
    padding-bottom: 0;
  }
}