.new-tweet {
  margin-top: 1em;
}

#tweet-text {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 3px solid #545149 ;
  resize: none;
  width: 100%;
  height: 50px;
  font-weight: bolder;
  color: #545149;
}

div.below-tweet-text {
  font-family: 'Bungee', sans-serif;
  display: flex;
  justify-content: space-between;
}

.tweet-button {
  background-color: #2b3d77;
  color: #FFFFFF;
  border: none;
}

.counter.invalid {
  color: #ab2c2c;
  font-weight: bold;
}